.cartOffCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: calc(100vmax - 100vh);
    background-color: #0000006b;
    animation-duration: 0.5s;
    animation-name: slidein;

    .requestCartContainer {
        position: absolute;
        right: 0;
        background-color: var(--secondary-color);
        height: 100%;
        width: 40%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .header {
            display: flex;
            gap: 2rem;

            .close {
                cursor: pointer;

                img {
                    width: 2rem;
                }
            }
        }

        .finishRequest {
            color: var(--text-color);
            background-color: var(--red);
            padding: 0.8rem;
            border: none;
            width: 80%;
            margin: 0 auto;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}

.finishPurchaseModal {
    background-color: #00000050;
    width: calc(100vw - 3vmin);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .modalContent {
        background-color: var(--dark-color);
        color: var(--text-color);
        max-width: 30rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
        border-radius: 0.5rem;

        .formItem {
            display: grid;

            input {
                padding: 0.5rem;
                border: none;
                border-radius: 0.5rem;
            }
        }

        .finishRequest {
            color: var(--text-color);
            padding: 0.8rem;
            border: none;
            width: 80%;
            border-radius: 0.5rem;
            margin: 0 auto;
            cursor: pointer;
        }

        .success {
            background-color: var(--accent-color);
        }

        .abort {
            background-color: var(--red);
        }
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .cartOffCanvas {
        .requestCartContainer {
            width: 70%;
        }
    }
}

@media screen and (max-width: 600px) {
    .cartOffCanvas {
        .requestCartContainer {
            width: 100%;
        }
    }
}