.containerModalProductsMarcos{
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding: 0.5rem;
    gap: 1rem;
    

    .containerCartProducts{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        border-radius: 0.5rem;

        .propertiesCountNameValue{
          display: flex;
          flex-wrap: wrap;
          font-weight: 900;
        }

        .productDescription{
            color: gray;
            font-size: 1rem;
        }

        .remove{
            cursor: pointer;
            color: red;
            text-align: right;
            margin-right: 2vh;
        }
        
    }

    
}