.cardsContainer {
    background-color: var(--secondary-color);
    padding: 5vh;

    h1 {
        text-align: left;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        max-width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
        gap: 1vw;
        margin-top: 5vh;
    }
}