.cardContainer {
    background-color: white;
    align-items: center;
    border-radius: 20px;
    padding: 0.5rem 1rem;

    .propertiesName,
    .propertiesSobre {
        margin-left: 11vw;
    }

    h3 {
        margin-top: 2vh;
    }

    p {
        margin-top: 1vh;

        img {
            height: 3vh;
        }
    }

    img {
        height: 20vh;
        margin-left: 0;
        float: left;
        border-radius: 100px;

    }
}

@media screen and (max-width: 1345px) {
    .cardContainer {
        img {
            height: 15vh;
        }
    }
}

@media screen and (max-width: 450px) {
    .cardContainer {
        img {
            height: 10vh;
        }
    }
}