.requestsContainer {
    .myRequests {
        background-color: var(--secondary-color);
        min-height: 100vh;
        width: 80vw;
        margin: auto;
        padding: 1rem;

        .requests {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .request {
                background-color: var(--text-color);
                border-radius: 0.5rem;
                padding: 1rem;
                flex: 1 1 40%;
                width: 50%;
                max-width: 50%;

                .restaurantInfos {
                    display: flex;
                    align-items: center;

                    img {
                        width: 4rem;
                    }
                }

                .products {
                    .product {
                        padding: 0.5rem;
                        display: flex;
                        gap: 2rem;
                    }
                }
            }

        }
    }
}