* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #EEEEEE;
  --accent-color: #042940;
  --dark-color: #3c3c3c;
  --green: #d2f200;
  --red: #d12b2b;
  --secondary-color: #D9D9D9;
  --text-color: #FFF;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
}